nav.navbar {
            background-color: #3E3E3E; /* Use your preferred shade of gray */
            padding: 5px;
          }
li{
  font-size: 22px;
}

.nav-link {
  margin-left:25px;
  margin-right:25px;
  color:white;
}